.hero {
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;

  max-width: 1600px;

  text-align: center;

  background-color: $hero-background-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgi.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 30px;

    color: $hero-title-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
